html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  margin: 0;
  font: 18px/1 Arial, sans-serif;
}
iframe {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0;
}
main,
li {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}
strong {
  font-weight: bold;
}
sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline;
}
a,
button {
  color: inherit;
  transition: .3s;
}
a {
  text-decoration: none;
}
button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  &:focus {
    outline: 0;
  }
}
::-moz-focus-inner {
  padding: 0;
  border: 0;
}
img {
  max-width: 100%;
  height: auto;
  border: 0;
}



/* Style */

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("london.jpg");
  background-size: cover;
}

h1, h2, h3, h4, p, span, a {
  color: #252525; /* scandium */;
}


a {
  text-decoration: none;
}

a:hover {
  color: rgb(176,176,187);
}

.Card {
  width: 320px;
  text-align: center;
  padding: 36px;

  background-color: white;
}

.Card-title {
  margin-bottom: 36px;
}

.Card-titleText {
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 12px;
}

.Card-subtitleText {
  font-size: 20px;
  font-weight: normal;
  margin: 6px;
}


.Card-section {
  margin-bottom: 24px;
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.icon-button {
  vertical-align: middle;
  margin-right: 6px;
}
